HOST=0.0.0.0
PORT=4000
ZAPPER_API_KEY=abc
DATABASE_URL=abc
SECRET_PASSWORD=abc
ALCHEMY_API_KEY=abc
ELEVENLABS_API_KEY=abc
DYNAMIC_ENVIRONMENT_ID=abc
TWITCH_CLIENT_ID=abc
TWITCH_CLIENT_SECRET=abc
PRIVY_APP_ID=abc
PRIVY_PUBLIC_VERIFICATION_KEY=abc
NEXT_PUBLIC_BASE_URL=abc
